body {
    background-color: #0e0e0e;
    color: #f1f1f1;
    font-family: 'Segoe UI', sans-serif;
  }
  
  ::placeholder {
    color: #888 !important;
  }

.btn-info:hover,
.btn-success:hover {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
  transition: 0.3s;
}

::ng-deep .toast-success {
  background-color: #28a745 !important;
  color: white !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}



